<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="./vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/mintytheme" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='minty.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
      #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable li { margin: 3px 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em; height: 40px; width: 350px}
      #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    } );
    </script>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Song Recommender</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Purpose</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Database Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Algorithm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-info" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- Table of Recommended Songs -->
      <div style="padding-left: 50px; padding-top: 30px;">
        <div class="card border-warning mb-3" style="max-width: 25rem;">
          <div class="card-header">Recommended Songs</div>
          <div class="card-body">
            <p class="card-text">
              <p class="text-success">We think you'd enjoy these songs:</p>
            </p>
        	<ul>
        		{% for item in songs %}
        			<li>{{ item }}</li>
        		{% endfor %}
        	</ul>
            </ul>
          </div>
        </div>
       </div>
      </div>
      <div>
    <div style="align-items: center; padding: 100px;">
      <button id="submitButton" type="button" class="btn btn-primary btn-lg btn-block" onclick={{ url_for('index') }}>Recommend More Songs!</button>
    </div>
  </a>
  <!-- scripts -->
  <script>
  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="./vendor/jquery/jquery.min.js"></script>
  <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
